    
        table{height:640px; width:640px; background-color:#eedf8b; margin:auto;}   
        tr, td{border:3px #cccccc solid;}
        ol{margin:auto; width:640px;}            
        span{border:2px groove black; cursor:pointer; margin:auto;} 
        #div2{width:640px; margin:auto;}
        .k{background-color:black;}
        .w{background-color:white;}
    